In [4]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("ppb00x/credit-risk-customers")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/ppb00x/credit-risk-customers?dataset_version_number=3...

100%|██████████| 18.3k/18.3k [00:00<00:00, 6.25MB/s]

Extracting files...
Path to dataset files: C:\Users\vaibh\.cache\kagglehub\datasets\ppb00x\credit-risk-customers\versions\3

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix

df=pd.read_csv(r"C:\Users\vaibh\OneDrive\Documents\ThoughtClan\CI\CD\credit_customers.csv")
df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,...,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,...,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,...,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,...,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,...,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,no checking,12.0,existing paid,furniture/equipment,1736.0,<100,4<=X<7,3.0,female div/dep/mar,none,...,real estate,31.0,none,own,1.0,unskilled resident,1.0,none,yes,good
996,<0,30.0,existing paid,used car,3857.0,<100,1<=X<4,4.0,male div/sep,none,...,life insurance,40.0,none,own,1.0,high qualif/self emp/mgmt,1.0,yes,yes,good
997,no checking,12.0,existing paid,radio/tv,804.0,<100,>=7,4.0,male single,none,...,car,38.0,none,own,1.0,skilled,1.0,none,yes,good
998,<0,45.0,existing paid,radio/tv,1845.0,<100,1<=X<4,4.0,male single,none,...,no known property,23.0,none,for free,1.0,skilled,1.0,yes,yes,bad
999,0<=X<200,45.0,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3.0,male single,none,...,car,27.0,none,own,1.0,skilled,1.0,none,yes,good

In [14]:
features=['credit_history','credit_amount','age','existing_credits']
target='class'

df=df[features+[target]]
df.dropna(inplace=True)
df

,credit_history,credit_amount,age,existing_credits,class
0,critical/other existing credit,1169.0,67.0,2.0,good
1,existing paid,5951.0,22.0,1.0,bad
2,critical/other existing credit,2096.0,49.0,1.0,good
3,existing paid,7882.0,45.0,1.0,good
4,delayed previously,4870.0,53.0,2.0,bad
...,...,...,...,...,...
995,existing paid,1736.0,31.0,1.0,good
996,existing paid,3857.0,40.0,1.0,good
997,existing paid,804.0,38.0,1.0,good
998,existing paid,1845.0,23.0,1.0,bad
999,critical/other existing credit,4576.0,27.0,1.0,good

In [15]:
import joblib
le=LabelEncoder()
df['credit_history']=le.fit_transform(df['credit_history'])
joblib.dump(le,'credit_history_encoded.pkl')
df

     credit_history  credit_amount   age  existing_credits class
0                 1         1169.0  67.0               2.0  good
1                 3         5951.0  22.0               1.0   bad
2                 1         2096.0  49.0               1.0  good
3                 3         7882.0  45.0               1.0  good
4                 2         4870.0  53.0               2.0   bad
..              ...            ...   ...               ...   ...
995               3         1736.0  31.0               1.0  good
996               3         3857.0  40.0               1.0  good
997               3          804.0  38.0               1.0  good
998               3         1845.0  23.0               1.0   bad
999               1         4576.0  27.0               1.0  good

[1000 rows x 5 columns]

In [21]:
X=df[features]
Y=df[target]

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

model=DecisionTreeClassifier(max_depth=5,random_state=42)
model.fit(X_train,Y_train)

joblib.dump(model, 'model.pkl')

['model.pkl']